
@{
    ViewBag.Title = "FilterList";
}

<h2>Filter List</h2>
<div>

    <table class="table table-stripe">

        <tbody>
            @foreach (var item in ViewBag.Filtereddata)
            {
                <tr>
                    <td>
                        <div class="card mb-3" style="max-width: 500px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src=@replace(item.image) width="150" height="150" />

                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h3 class="card-title">@item.makeEn</h3>
                                        <p class="card-text">@item.modelEn</p>
                                        <p class="card-text">@item.AuctionInfo.currentPrice AED</p>
                                        <p class="card-text">Bids  : @item.AuctionInfo.bids</p>
                                        <p class="card-text">lot # : @item.AuctionInfo.lot</p>
                                        <time class="card-text">End Time : @item.AuctionInfo.endDateEn</time>
                                        <p class="card-text">
                                            <small class="text-muted">
                                                @item.bodyEn
                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    @Html.ActionLink("Back to CarList", "Index", "home")
                </td>
            </tr>
        </tbody>
    </table>

    @*//To remove unwanted string in image url*@
    @functions{
        public string replace(string img)
        {
            img = img.Replace("t_,w_[w],h_[h]", "");

            return img;
        }
    }
</div>

